/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.pathformdiv {
  background-color: #647ebd;
}

.search-list-results {
  height: 50vh;
}

.jodit-readonly .jodit_statusbar {
  display: none;
}
.jodit-readonly .jodit_workplace {
  border: none !important;
}
